body{font-family:'proxima-nova-n4','proxima-nova',sans-serif;font-weight:400;background:#c76533;color:#ffffff;line-height:1.4em;font-size:14px;}
p{margin-bottom:1em;}
input,textarea{font-size:14px;}
.site-name{font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:400;font-size:90px;line-height:1em;padding:0 16px;text-decoration:none;}.site-name a:link,.site-name a:visited{color:#ffffff;border:none;}
.site-name h2{margin:0;}
.site-name strong{color:#000000;}
.site-name span{font-size:32.000000004px;font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:400;text-transform:uppercase;line-height:1em;font-weight:normal;color:#f4e0d6;display:block;margin-top:24px;}
.title{font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:400;text-transform:uppercase;font-size:42px;line-height:1.2em;}
.block-title,.field-label{font-size:32.000000004px;font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:400;text-transform:uppercase;line-height:1em;font-weight:normal;color:#f4e0d6;}
.text-content h2{font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:'league-gothic-n4','league-gothic',sans-serif;font-size:23.999999996px;}
.text-content h3{font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:'league-gothic-n4','league-gothic',sans-serif;font-size:23.999999996px;}
.callout{color:#f0d4c6;font-family:'museo-slab',sans-serif;font-size:23.999999996px;font-weight:500;line-height:1.2em;padding:52px 16px 0;width:58.333%;}.callout em{font-style:normal;color:#000000;}
.text-content ul{margin-left:20px;list-style:square;margin-bottom:1em;}
.text-content ol{margin-left:20px;list-style:decimal;margin-bottom:1em;}
a:link,a:visited{text-decoration:none;margin-bottom:-1px;border-bottom:1px dotted;}
a:link{color:blue;border-color:blue;}
a:visited{color:blue;border-color:blue;}
a:hover{border:none;margin-bottom:0;}
.coverlayer{color:#000000;}.coverlayer .block-title{font-size:48.000000006px;}
.coverlayer a:link{color:#000000;border-color:#000000;}
.coverlayer a:visited{color:#000000;border-color:#000000;}
.region-menu a{border-bottom:none;margin-bottom:0;}
.zone-user a:link,.zone-user a:visited{color:#ffffff;margin-right:16px;border-color:#ffffff;}
.region-menu a{text-transform:uppercase;}
input[type=submit],button{font-family:'league-gothic-n4','league-gothic',sans-serif;font-weight:400;text-transform:uppercase;}
